<div class="jumbotron">
  <div class="container">
    <form class="form-horizontal" action="/robots/<%= @robot.id %>" method="post" >
      <p class="text-center">Edit <%= @robot.name %>:</p>
      <input class="form-control" type="hidden" name="_method" value="put" />
        <p>Name:</p>
      <input class="form-control" type="text" name="robot[name]" value="<%= @robot.name %>" /></br>
        <p>City:</p>
      <input class="form-control" type="text" name="robot[city]" value="<%= @robot.city %>" /></br>
        <p>State:</p>
      <input class="form-control" type="text" name="robot[state]" value="<%= @robot.state %>" /></br>
        <p>Avatar:</p>
      <input class="form-control" type="text" name="robot[avatar]" value="<%= @robot.avatar %>" /></br>
        <p>Birthdate (yyyy-mm-dd):</p>
      <input class="form-control" type="text" name="robot[birthdate]" value="<%= @robot.birthdate %>" /></br>
        <p>Date Hired (yyyy-mm-dd):</p>
      <input class="form-control" type="text" name="robot[date_hired]" value="<%= @robot.date_hired %>" /></br>
        <p>Department:</p>
      <input class="form-control" type="text" name="robot[department]" value="<%= @robot.department %>" /></br>
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
  </div>
</form>
